<div class="circle">
  <span>Run<br>with Train</span>
</div>
<div class="wrap1">
  <button class="button1" onclick="location.href='records/new'">RUN</button>
</div>
<div class="wrap2">
  <button class="button2" onclick="location.href='users/<%= current_user.id %>'">DATA</button>
</div>
