<!-- <!DOCTYPE html> -->
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="run.css">
    <title>RunWithTrain</title>
  </head>
  <body>
    <div class="circle">
      <span>Run<br>with Train</span>
    </div>
    <div class="wrap1">
      <button class="button1">RUN</button>
    </div>
     <div class="wrap2">
      <button class="button2">DATA</button>
    </div>
  </body>
</html>
