<h2>Users/show画面</h2>


<p> 名前 </p>
<%= @user.name %>

<p> 年齢 </p>
<%= @user.age %> 歳

<p> 性別 </p>
<% if @user.gender == 0%>
  男性
<% else %>
  女性
<% end %>

<p> 身長 </p>
<%= @user.height %> cm

<p> 体重 </p>
<%= @user.weight %> kg

<br><br><br>
<a class="btn" href="/">戻る</a>
