<h2>Records/edit画面</h2>

<div id="timer">00:00:000</div>
<script>
  $(function(){
      var timer = document.getElementById('timer');
      var startTime;
      var elapsedTime = 0;
      var timerId;
      var timeToadd = 0;

    function updateTimetText(){
      var m = Math.floor(elapsedTime / 60000);
      var s = Math.floor(elapsedTime % 60000 / 1000);
      var ms = elapsedTime % 1000;
      m = ('0' + m).slice(-2);
      s = ('0' + s).slice(-2);
      ms = ('0' + ms).slice(-3);
      timer.textContent = m + ':' + s + ':' + ms;
    }
    function countUp(){
      timerId = setTimeout(function(){
        elapsedTime = Date.now() - startTime + timeToadd;
        updateTimetText()
        countUp();
      },10);
    }

    window.onload = function(){
      var formData = new FormData(this);
      startTime = Date.now();
      countUp();
    }
    $('.GOAL').on('click', function(e){
      var formData = new FormData(this);
      clearTimeout(timerId);
      console.log(timer.textContent)
      $("#input_running_time").attr("value", timer.textContent);
    })
  })
</script>


<div class="contents row">
  <div class="container">
    <%= form_tag("/records/#{@record.id}", method: :patch) do %>
      <h3>
        かけっこなう
      </h3>
     <!--  <input id = "input_test" type="hidden" name="cusumed_calory"> -->
      <h4>
        #consumed_calory
      </h4>
      <input class = "input_test" name="consumed_calory">

      <!-- 今後は、フォームを隠してvalueにパラメーターを入れる感じ -->
      <input id = "input_running_time" type="hidden" name="running_time">
      <!-- #running_time
      <input class = "input_test" name="running_time"> -->
      <h4>
        #result
      </h4>
      <input class = "input_test" name="result">

      <button class = "GOAL" type="submit">GOAL</button>
    <% end %>
  </div>
</div>
