<h2>スタート設定</h2>


<script>
  $(function(){
      var start = document.getElementById('start');


      $('.start_station').on('click', function(e){
        start.textContent = this.id
        e.preventDefault();
        console.log(this.id)
        $("#form_start_station").attr("value", start.textContent);
      })




    })

</script>

<br><p>選択されている駅id</p>
<div id="start">13</div>


<div id = "select__start" >
  <% for i in 1..29 do %>
    ・<a href="" id = <%=i%> class = "start_station"><%= Station.find(i).name_ja %>駅 </a><br>
  <% end %>
</div>


<div class="wrap1">
    <%= form_tag('/records', method: :post) do %>
      <input id = "form_start_station" name="start_station_id" type = "hidden">
      <button class ="input__button" id = "next_1" type="submit">NEXT</button>
    <% end %>

</div>
