<h2>Records/new画面</h2>

<div class="contents row">
  <div class="container">
    <%= form_tag('/records', method: :post) do %>
      <h3>
        かけっこする
      </h3>
      #start_station
      <input class = "input_test" name="start_station_id">
      #goal_station
      <input class = "input_test" name="goal_station_id">
      #opponent
      <input class = "input_test" name="opponent">

      <!-- 今後は、フォームを隠してvalueにパラメーターを入れる感じ
      <input class = "input_test" type="hidden" name="start_station_id" value=""> -->

      <input type="submit" value="START">
    <% end %>
  </div>
</div>
