/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import url(https://fonts.googleapis.com/css?family=Lato:100,400);

header {
/*  background-color: #f1f3f5;*/
  background-color: #0ca678;
  height: 15vw;
  width: 100%;
/*  border-bottom: 0.1vw solid #495057;*/
  margin-bottom: 5vw;
  color: white;
}

a {
  font-family: Lato;
  /*color: #dee2e6;*/
  color: white;
}

/*.back, .logout, .grid-6 {
  margin: 0 auto;
  width: 30%;
  float: left;
  text-align: center;
  line-height:20vw;
}*/

body {
  height:100%;
  margin: 0;
}


.header_list {
  margin: 0;
  padding: 4vw;
  list-style: none;
  text-align: center;
}
.header_list li {
/*  height:100%;*/
  font-size: 5vw;
/*  margin: 0;
  float: left;*/
}
.back{
  position:absolute; top:4vw; left:3vw
}
.page_title{
    position:absolute; top:4vw; left:40vw
}
.menu{
  position:absolute; top:4vw; left:90vw
}

