


@import url(https://fonts.googleapis.com/css?family=Lato:100,400);
@keyframes load{0%{stroke-dashoffset:0}}

#records_show-page{
// show.html.erbのみに適用
    height: 85vh;
    width: 100vw;
  font-family: Lato;
  color: #495057;
  background-color: #f1f3f5;


  html, body {
    font-family: 'impact';
    background-color: #f1f3f5 ;
  }

  .time,.calory,.time,.calory_1,h3,.station_start,.station_goal,.button2{
  font-family: Lato;
  color:#495057;
  }




ul {
    list-style: none;
    margin:0 auto;
    padding:0;
    width: 90vw;
  }

  .opponents{
    border-style: double;
    border-color: #f1f3f5;
    border-width: 2vw;
    background-color: white;
    margin-top: -52vw;
    margin-right: auto;
    margin-left: auto;
}

  .number{
    color:#0ca678;
    text-align:center;
    font-size:6vw;
  }

  .time{
    color:#495057;
    text-align:center;
    font-size: 5vw;
  }





.title-1{

    float:left;

    width: 45vw;
  height: 7vw;
  margin: 0 auto;
  text-align: center;
}

.title-2{

    float:right;

        width: 45vw;
  height: 7vw;
  margin: 0 auto;
  text-align: center;
}



.title-3{

    float:left;

    width: 45vw;
  height: 7vw;
  margin: 0 auto;
  text-align: center;
}

.title-4{

    float:right;

        width: 45vw;
  height: 7vw;
  margin: 0 auto;
  text-align: center;
}




  .wrap{
    width:100vw;
    overflow: hidden;
    height: 100vh;
    background-color: #f1f3f5
  }


  .wrap-1{
    width:50vw;
    overflow: hidden;
    height: 20vh;
    background-color: #f1f3f5
  }
  .wrap-2{
    width:50vw;
    overflow: hidden;
    height: 20vh;
    background-color: #f1f3f5
  }


    .wrap3 {
    height: 12.3vh;
    width: 53.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0vh;
    margin-right: auto;
    margin-bottom: 0vh;
    margin-left: auto;
  }

  .button2 {
    width: 140px;
    height: 45px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4.5px;
    font-weight: 500;
    color: white;
    background-color: #0ca678;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: -4.7vh;
  }

  h3{
    font-size: 7.5vh;

    text-align: center;
    line-height: 8.5vh;
    margin-top: -0.5vh;
    margin-bottom: 2.3vh;
    color:#0ca678;
  }


.circle-1 {
  width: 45vw;
  height: 45vw;
  border-radius: 50%;
  margin: 0 auto;
  // border: solid 10vw #0ca678;
  border: 1vw solid #0ca678;
  position: relative;
  background-color: white;
  float:left;
}

.circle-1 span {
  position: absolute;
  display: inline-block;

  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width :46vw;
  text-align:center;
  font-size:13vw;
}

.circle-2 {
  width: 45vw;
  height: 45vw;
  border-radius: 50%;
  margin: 0 auto;
  // border: solid 10vw #0ca678;
  border: 1vw solid #0ca678;
  position: relative;
  background-color: white;
  float: right;
}

.circle-2 span {
  position: absolute;
  display: inline-block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width :46vw;
  text-align:center;
  font-size:13vw;
}

.circle-3 {
  width: 45vw;
  height: 45vw;
  border-radius: 50%;
  margin: 0 auto;
  border: 1vw solid #0ca678;
  position: relative;
  background-color: white;
  float:left;
}

.circle-3 span {
  position: absolute;
  display: inline-block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width :46vw;
  text-align:center;
  font-size:13vw;
}

.circle-4 {
  width: 45vw;
  height: 45vw;
  border-radius: 50%;
  margin: 0 auto;
  border: 1vw solid #0ca678;
  position: relative;
  background-color: white;
  float: right;
}

.circle-4 span {
  position: absolute;
  display: inline-block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width :46vw;
  text-align:center;
  font-size:13vw;
}

}
