@import url(https://fonts.googleapis.com/css?family=Lato:100,400);

@import url(https://fonts.googleapis.com/css?family=Lato:100,400);

#record-new {
  font-family: Lato;
  color:#495057;

  .circle_img{
    height: 10vw;
    width: 20vw;
    padding: 0 0 20vw 0;
  }
  .y_circle{
    height: 30vw;
    width: 100vw;
    position: absolute; left: 0vw;
  }
  .title{
    margin:0 0 0 0;
    text-align: center;
    padding: 20vw 0 0 0;
  }
  .station-list {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    height: 30vw;
  }
  .item {
    display: inline-block;
    width: 24%;
    height:74%;
  }
  .start_stations{
    height:100%;
    // text-align: end;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
  }

  .mark{
    height:1vw;
    color:white;
  }
  #mark1{
    margin:0 0 0 5vw;
  }
  #mark2{
    margin:0 0 0 20vw;
  }
  #mark3{
    margin:0 0 0 38vw;
  }
  #mark4{
    margin:0 0 0 59vw;
  }
  #mark5{
    margin:0 0 0 77vw;
  }
  #mark6{
    margin:0 0 0 92vw;
  }


  .in_4{
    color:#e9ecef;
    font-size: 1vw;
  }
  .in_3{
    color:#ced4da;
    font-size: 3vw;
  }
  .in_2{
    color:#495057;
    font-size: 5vw;
  }
  // .in_2:after {
  // content: "";
  // }
  .in_1{
    color:#0ca678;
    font-size: 7vw;
  }
  .button {
    padding:5vw 0;
    height:80px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
  }
  .input__button {
    width: 140px;
    height: 45px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: white;
    background-color: #0ca678;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

}






//謎
#container{
  margin: 0 auto;
  width: 80%;
  text-align: left;
  position: relative;
  .widget{
    background-color: #fff;
    color: #333;
    padding: 7px;
    width: 100%;
  }
  .widget ul{
    list-style-position: inside;
  }
  .new-widget{
    margin: 0px;
    border: 1px solid #ddd;
    border-top: 0;
    background-color: #fff;
    width: 80%;
    clear: both;
  }
  .new-widget ul{
    display: none;
  }
  .tab-wrapper{
    width: 1000vw;
    padding: 0;
  }
  .tab{
    padding: 8px 10px;
    margin-right: 5px;
    font-size: 0.9em;
    border-radius: 10px 10px 0 0;
    float: left;
    background: #eee;
    text-transform: capitalize;
    color: #333;
    text-align: center;
    cursor: pointer;
    list-style: none!important;
    transition: all 200ms;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
  }
  .active-tab{
    background: #0ca678;
    color: #fff;
  }
  /* TABLE STYLING */
  .group-table {
    border-top: 1px solid #ddd;
    width:80%;
      border-collapse:collapse;
      padding:5px;
      text-align: center;
    }
  .group-table th {
    padding: 10px 5px;
    font-weight: normal;
    background:#0ca678;
    color: #fff;
  }
  .group-table td {
    padding:10px 2px;
  }
  .group-table th, .group-table td {
    border-right: 1px solid #ddd;
  }
  .group-table tr:nth-child(odd) {
    background: #f0f0f0;
  }
}




#record-new-next{

  .title{
    margin:0 0 0 0;
    text-align: center;
    padding: 20vw 0 0 0;
  }


  .button {
    height:80px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
  }
  .input__button {
    width: 140px;
    height: 45px;
    font-family: 'impact';
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  .input__button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

}



#record-new-last{

  font-family: Lato;
  background-color: #f1f3f5;
  color:#495057;
  height: 100%;
  width: 100%;

  .main-content{
    height:95vw;
    overflow:scroll;
  }
  ul {
    list-style: none;
    margin:0 auto;
    padding:0;
  }
  .opponents{
    border-style: solid;
    border-color: #f1f3f5;
    border-width: 2vw;
    background-color: white;
    height: 18vw;
    width: 90%;
    margin: 0 auto;
  }

  .number{
    color:#0ca678;
    text-align:center;
    font-size:6vw;
  }
  .time{
    color:#adb5bd;
    text-align:center;
    font-size:5vw;
  }


  .selected{
    background-color:#0ca678;
    .number{
      color:white;
    }
    .time{
      color:white;
    }
  }

  .title{
    margin:0 0 0 0;
    text-align: center;
    padding: 15vw 0 0 0;
  }


  .button {
    padding:5vw 0;
    height:80px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
  }
  .input__button {
    width: 140px;
    height: 45px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: white;
    // background-color: #fff;
    background-color: #0ca678;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }







}
