@import url(https://fonts.googleapis.com/css?family=Lato:100,400);


#record-new {
  font-family: Lato;
  color:#495057;


  .title{
    font-size: 7vw;
  }
  .pre{
    text-align: center;
    margin:0 auto 10vw;
  }

  .station-card{
    background-color: white;
    height:50vw;
    width: 90vw;
    margin:10vw auto 0;
  }
  #s_name{
    height: 55%;
    text-align: center;
    font-size: 16vw;
  }
  #s_name_en{
    height: 15%;
    text-align: center;
    color:#adb5bd;
    font-size: 6vw;
  }

  .sub-s{
    height: 20%;
    text-align: center;
    color:white;
    background-color:#0ca678;
    font-size: 6vw;
  }
  .sub-s2{
    height: 5%;

  }

  .title{
    margin:0 0 0 0;
    text-align: center;
    // padding: 20vw 0 0 0;
  }


  .station-list {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    width: 70%;
    margin: 0 auto;
    float:left;
  }
  .item {
    display: inline-block;
    font-size: 5.5vw;
    width: 40%;
    height:40vw;
    color:#0ca678;
  }
#b{
  font-size: 7vw;
  width: 8%;
  height: 100%;
  float:left;
  color:white;
}
#b2{
  font-size: 7vw;
  width: 8%;
  height: 100%;
  float:left;
  color:white;
}
  // .start_stations{
  //   height:100%;
  // }


  .mark{
    height:1vw;
    // color:black;
    color:#f1f3f5;
    clear:both;
  }
  #mark1{
    // margin:0 0 0 30vw;
    margin:0 0 0 31vw;
  }
  #mark2{
    margin:0 0 0 56vw;
  }

  .in_2{
    color:#0ca678;
    // color:black;
  }
  // .in_2:after {
  // content: "";
  // }
  .in_1{
    color:white;
  }
  .button {
    padding:0;
    height:80px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
  }
  .input__button {
    width: 140px;
    height: 45px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: white;
    background-color: #0ca678;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

}







#record-new-next{






  //謎
#container{
  margin: 0 auto;
  width: 80%;
  text-align: left;
  position: relative;
  .widget{
    background-color: #fff;
    color: #333;
    padding: 7px;
    width: 100%;
  }
  .widget ul{
    list-style-position: inside;
  }
  .new-widget{
    margin: 0;
    border: 1px solid #ddd;
    border-top: 0;
    background-color: #fff;
    width: 100%;
    clear: both;
  }
  .new-widget ul{
    display: none;
  }
  .tab-wrapper{
    width: 1000vw;
    padding: 0;
  }
  .tab{
    padding: 8px 10px;
    margin-right: 5px;
    font-size: 0.9em;
    border-radius: 10px 10px 0 0;
    float: left;
    background: #eee;
    text-transform: capitalize;
    color: #333;
    text-align: center;
    cursor: pointer;
    list-style: none!important;
    transition: all 200ms;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
  }
  .active-tab{
    background: #0ca678;
    color: #fff;
  }
  /* TABLE STYLING */
  .group-table {
    // border-top: 1px solid #ddd;
    width:100%;
      border-collapse:collapse;
      padding:5px;
    }
  .group-table th {
    text-align: center;
    padding: 10px 5px;
    font-weight: normal;
    background:#0ca678;
    color: #fff;
  }
  .group-table td {
    padding:10px 2px;
  }
  .group-table th, .group-table td {
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
  }
}

  .title{
    margin:0 0 0 0;
    text-align: center;
    // padding: 20vw 0 0 0;
  }
  .selected{
    background-color:#0ca678;
    td{
      color:white;
    }
  }


  .button {
    padding:5vw 0;
    height:80px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
  }
  .input__button {
    width: 140px;
    height: 45px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: white;
    background-color: #0ca678;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

}



#record-new-last{

  font-family: Lato;
  background-color: #f1f3f5;
  color:#495057;
  height: 100%;
  width: 100%;

  .main-content{
    height:95vw;
    overflow:scroll;
  }
  ul {
    list-style: none;
    margin:0 auto;
    padding:0;
  }
  .opponents{
    border-style: solid;
    border-color: #f1f3f5;
    border-width: 2vw;
    background-color: white;
    height: 18vw;
    width: 90%;
    margin: 0 auto;
  }

  .number{
    color:#0ca678;
    text-align:center;
    font-size:6vw;
  }
  .time{
    color:#adb5bd;
    text-align:center;
    font-size:5vw;
  }


  .selected{
    background-color:#0ca678;
    .number{
      color:white;
    }
    .time{
      color:white;
    }
  }

  .title{
    margin:0 0 0 0;
    text-align: center;
    // padding: 15vw 0 0 0;
  }


  .button {
    padding:5vw 0;
    height:80px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
  }
  .input__button {
    width: 140px;
    height: 45px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: white;
    // background-color: #fff;
    background-color: #0ca678;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }







}
