#records_show-page{
// show.html.erbのみに適用

  html, body {
    height: 100%;
  }

  .wrap{
    width:100%;
    overflow: hidden;
    height: -webkit-fill-available;
  }


  .wrap2 {
    height: 100px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .button2 {
    width: 200px;
    height: 75px;
    font-family: 'impact';
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 80px;
  }

  .button2:hover {
    background-color: #EE82EE;
    box-shadow: 0px 15px 20px rgba(100, 50, 10, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  .circle1 {
    width: 42vw;
    height: 159px;
    border-radius: 50%;
    margin: 30px auto -20px auto;
    position: relative;
    border: solid 10px lime;
    border: 10px dashed lime;
    float: left;
  }

  .circle2 {
    width: 42vw;
    height: 159px;
    border-radius: 50%;
    margin: 30px auto -20px auto;
    position: relative;
    border: solid 10px lime;
    border: 10px dashed lime;
    float: right;
  }


  .time{
    font-family: 'impact';
    text-align: center;
    line-height: 75px;
    font-size: 45px;
  }

  .calory{
    font-family: 'impact';
    text-align: center;
    font-size: 40px;
    margin-top: 35px;
  }

  .calory_1{
    font-family: 'impact';
    text-align: center;
    font-size: 45px;
    margin:-45px;
  }

  .station_start{
    line-height: 20px;
    font-size: 20px;
    font-weight: 900;
    margin-top: 30px;
    margin-left: 0px;
    text-align: -webkit-left;
  }

  .station_goal{
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    font-weight: 900;
    margin-top: 5px;
  }

  .fa{
    padding-left: 52px;
  }


  h3.lose{
    background: blue;
    font-size: 85px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    font-family: 'impact';
    opacity: 0.6;
    line-height: 85px;
    margin-top: 50px;
  }

  h3.win{
    background: red;
    font-size: 85px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    font-family: 'impact';
    opacity: 0.6;
    line-height: 85px;
    margin-top: 50px;
  }

  .flex {
    display: flex;
    flex-flow: row wrap;
    height: 125px;
  }

  .start {
    height: 25px;
  }

  .goal {
    height: 25px;
  }

  .train {
    width: 100%;
    height: 100px;
    text-align: center;
    border-bottom: dashed 10px ;
    box-shadow: 0px 1px #000,0px -1px #000 inset;
    display: flex;
    align-items: flex-end;
    margin-top: -40px;
  }

  .buruburu{
    margin:0 auto;
  }

}
