#users-show {

table {
  width: 100%;
  border-collapse: collapse;
  height: 70vh;
}
th.t_top {
    border-top: #be1309 4px solid;
}
th {
  border-bottom: #e3e3e3 1px solid;
  border-left: #e3e3e3 1px solid;
  text-align: left;
  background: #f7f7f7;
  padding: 10px;
  font-weight: normal;
  font-size:130%;
}
td.t_top {
  border-top: #b3b3b3 4px solid;
}
td {
  border-bottom: #e3e3e3 1px solid;
  border-right: #e3e3e3 1px solid;
  text-align: left;
  padding: 10px;
  font-size:130%;
}
  h2 {
    background:#64AA64;
    padding:20px 0; /*PADDING TODOS OS LADOS DE 20PX*/
    font-size:250%;
    font-weight:600;
    text-align:center;
    font-family: 'Impact',sans-serif;
    color:#fff;
  }
}
