<% if user_signed_in? %>
  <header class="header">
    <ul class="header_list">
        <li class="back"><a href="javascript:history.back();"><i class="fa fa-chevron-left"></i></a></li>
        <li class="page_title"><%= @title %></li>
        <li class = "menu"><i class="fa fa-bars"></i></li>
      </ul>
  </header>
<% end %>
