<% if user_signed_in? %>
  <header class="header">
    <ul class="header_list">
        <li class="back"><a href="javascript:history.back();"><i class="fa fa-chevron-left"></i></a></li>
        <li class="page_title"><%= @title %></li>
        <li class = "menu"><a href="/" "><i class="fa fa-bars"></i></a></li>
      </ul>
  </header>
<!--   <div class = "menu-bar">
    <ul class="">
        <li class="go_my">マイページ</li>
        <li class="go_top">トップページ</li>
        <li class="go_out">ログアウト</li>
      </ul>
  </div> -->
<% end %>
