<% if user_signed_in? %>
  <header class="header">
    <div class="back"><%= link_to 'back', :back %></div>
    <div class="grid-6"><a href="/">TOP</a></div>
    <div class="logout"><%= link_to "logout", destroy_user_session_path, method: :delete %></div>
  </header>
<% end %>
